@import "../../scss/_index.scss";

.cabecera{
    background-image: url(../../Assets/png/HeaderPrincipal.png);
	background-size: cover;
    padding: 20px 0px 0px;
}

*{
    box-sizing: border-box;
}

.w-60{
    width: 60%;
}

.col.logo{
    max-width: (100 / 3)*1%;
    img{
        width: (3*18.59)*1%;
        height: auto;
    }
}

.col-5.buscar{
    max-width: (100 / 3)*1%;
}

.col.user{
    max-width: (100 / 3)*1%;
    img{
        width: (3*4.87)*1%;
        height: auto;
    }
}

.btn-navBar.btn-navBar{
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    background-color: $blancoPrincipal;
    border-style: solid;
    border-color: $azulClaro;
    border-width: 1px;
}

.btn.btn-navBar:hover{
    background-color: $amarilloPrincipal;
}