.iconImg {
  position: absolute;
  transform: translate(0px, -50%);
  width: 8%;
  z-index: 3;
  cursor: pointer;
}

.imgContainer {
  box-shadow: 0px 0px 10px black;
}

.imgContainer {
  position: relative;
  display: inline-block;
}

.imgContainer picture {
  display: block;
}