@import "../../scss/_colors.scss";

.rctPdf{
    display: flex;
    position: relative;
}

.pagePdf{
    flex: 1;
    box-shadow: 0px 0px 17px black;
}

.hide-outline{
    display: none;
}

.nextPdf, .prevPdf {
    font-size: 1.875rem;
    position: absolute;
    top: 50%;
    border-style: none;
    color: transparent;
    background-color: transparent;
    transition: 300ms;
}

.nextPdf{
    right: 0;
}

.rctPdf:hover{
    .nextPdf, .prevPdf {
        color: $grisPrincipal;
    }
}

.rctPdf .nextPdf:hover {
    color: $amarilloPrincipal;
}

.rctPdf .prevPdf:hover {
    color: $amarilloPrincipal;
}