.itemCartStyle{
    display: flex;
    position: relative;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    padding: 18px;
    margin-bottom: 18px;
    box-shadow: 0px 10px 18px -3px rgba(0,0,0,0.75);
}

.itemCartImgContainer{
    display: flex;
    width: min-content;
    padding-right: 18px;
}

.imgProducto.itemCartImg {
    align-self: center;
    padding: 0;
    img{
        width: 114px;
    }
}

.totalPrice.inItemCart{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 63%;
}

@media screen and (max-width: 900px) {
    .imgProducto.itemCartImg {
        img{
            width: 90px;
        }
    }
    
}