@font-face {
    font-family: "Norwester";
    src: url("../Assets/fonts/norwester.otf") format("truetype");
}
@font-face {
    font-family: "Kollektif";
    src: url("../Assets/fonts/Kollektif.ttf") format("truetype");
}
@font-face {
    font-family: "KollektifItalic";
    src: url("../Assets/fonts/Kollektif-Italic.ttf") format("truetype");
}

h1{
    font-family: "Norwester", sans-serif;
    font-size: 2rem;
}

.anima-Entrada{
    opacity: 1;
    transform: translateY(0px);
    transition: 1s;
}

.font-19{
    font-size: 1.1875rem;
}

.genFont{
    font-family: "Montserrat", sans-serif;
}

.subTit{
    font-family: "KollektifItalic", sans-serif;
    font-size: 1.5rem;
}

.scrollableY{
    overflow-y: scroll;
}

