@import "../../scss/_colors.scss";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border-style: none;
}

.modal-content.productBox {
    padding: 40px !important;
}

.imgModal,
.theLogo {
    position: relative;
    margin: 0px 10px 0px 10px;
    padding-bottom: 10px;
    justify-content: center;
    overflow: hidden;

    picture {
        width: 90%;
    }

    img {
        border: solid;
        border-radius: 25%;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
}

.theLogo {
    //position: absolute;
    display: flex;
    margin: unset;
    justify-content: left;
    align-items: center;
    padding: 0;
    top: 0%;


    picture {
        //width: 20%;
        width: 1.925rem;
    }

    img {
        border: none;
        border-radius: 0;
    }
}

._paginationGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0px auto;
    margin-top: 10px;
    color: $azulPrincipal;
    clip-path: inset(-4px 0px);
    width: 300px;
    //mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);

    .cajita {
        border: 2px solid $azulPrincipal;
        padding: 5px;
        border-radius: 7px;
        font-weight: bold;
        opacity: 0.5;
        cursor: pointer;
        transition: 300ms;
        text-wrap: nowrap;
        user-select: none;

        &.active {
            background-color: $azulPrincipal;
            color: white;
            opacity: 1;
            scale: 1.2;
        }
    }

    // &:hover {

    //     .bi-caret-left-fill,
    //     .bi-caret-right-fill {
    //         opacity: 1;
    //     }
    // }
}

._cajita-container {
    display: flex;
    align-items: center;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
    gap: 10px;
    font-size: 12px;
}

._pagArrow {
    top: 50%;
    font-size: 24px;
    cursor: pointer;
    color: $azulPrincipal;
    z-index: 3;
    &.mob{
        position: fixed;
        &.bi-arrow-left-circle-fill {
            left: 20px;
        }
        &.bi-arrow-right-circle-fill {
            right: 20px;
        }
    }
    &.desk{
        position: absolute;
        &.bi-arrow-left-circle-fill {
            left: -7px;
        }
        &.bi-arrow-right-circle-fill {
            right: -7px;
        }
    }
    
}

.soldOutMod {
    position: absolute;
    padding: 0px 111px;
    color: #FF4A4A;
    font-weight: 700;
    background-color: rgba(255, 0, 0, 0.34);
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 20%;
    left: 20%;
    z-index: 2;
}

.commingsoon {
    opacity: 0;
}

.description {
    padding: 5px;
    height: 120px;
    background-color: #d9d9d9;
}

.mainFeatures {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.quantityText {
    color: $azulPrincipal;
    font-weight: bold;
}

.text-decoration-line-through {
    text-decoration: line-through;
    color: #bf452e !important;
}

.quantity {
    font-size: 1.5rem;
    text-align: center;
    border-style: none;
    background-color: transparent;
    margin: 0 5px;
}

.unitPrice {
    padding-top: 8px;
}

.totalPrice {
    flex-wrap: wrap;
    padding: 8px 0;
}

//Buttons
.xButton {
    position: absolute;
    font-size: 35px;
    z-index: 2;
    right: -4px;
    top: -7px;
    border-style: none;
    color: $grisPrincipal;
    background-color: transparent;
    transition: 300ms;
}

.btnAddCart,
.btnQuantity,
.modalBtnLogin {
    background-color: $amarilloPrincipal;
    color: $azulPrincipal;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    height: 50px;
}

.btnQuantity {
    background-color: $azulPrincipal;
    color: white;
    height: auto;
}

.btnAddCart,
.modalBtnLogin {
    border-radius: 12px;
    width: 100%;
}

.modalBtnLogin.boton {
    max-width: none;
    background-color: #0cc042;
    letter-spacing: normal;
}

.btnAddCart.boton {
    max-width: none;
    color: $azulPrincipal;
    letter-spacing: normal;
    width: 250px;
    margin: 0px auto;
}

.btnQuantity:active {
    background-color: $amarilloPrincipal;
    color: $azulPrincipal;
}

.btnAddCart:disabled {
    opacity: 0.5;
}

@media (max-width: 700px) {
    #productoLabel {
        margin-left: 20px;
    }

    h1 {
        font-size: 1rem !important;
    }

    .xButton {
        font-size: 25px;
    }

    .mainFeatures {
        display: flex;
        max-height: 167px;
        border-bottom: none;
    }

    .modal-content.productBox {
        padding: 25px !important;
    }

    .totalPrice {
        padding: 0;
    }
}

.nextMCompras {
    left: 100%;
}

.nextMCompras,
.prev {
    font-size: 1.875rem;
    position: absolute;
    top: 50%;
    border-style: none;
    color: transparent;
    background-color: transparent;
    transition: 300ms;
}