@import "../../scss/_index.scss";

.cCarrusel{
    width: 100%;
    height: auto;//alto fijo jaska
    position: relative;
    overflow: hidden;
    /*.d-flex{//contiene cada item
        //background-color: $azulPrincipal;//borrar después
        position: relative;
        left: 200px;
        width: 100%;
        height: 100%;
        //justify-content: space-between;
        align-items: center;
    }*/
}

#pContainer{//contiene cada item
    //background-color: $azulPrincipal;//borrar después
    position: relative;
    left: 0%;
    width: 100%;
    height: 100%;
    //justify-content: space-between;
    align-items: center;
}

#leftButton{
    position: absolute;
    z-index: 100;
    left: 0;
    top: 41%;
    border-style: none;
    color: transparent;
    background-color: transparent;
    transition: 300ms;
}

#rightButton{
    position: absolute;
    z-index: 100;
    right: 0;
    top: 41%;
    border-style: none;
    color: transparent;
    background-color: transparent;
    transition: 300ms;
}

.cCarrusel:hover{
    #leftButton{
        color: $grisPrincipal;
    }
    
    #rightButton{
        color: $grisPrincipal;
    }
}

.cCarrusel #rightButton:hover{
    color: $amarilloPrincipal;
}

.cCarrusel #leftButton:hover{
    color: $amarilloPrincipal;
}

