@import "../../scss/_index.scss";

.descFont{
    font-size: 1.1875rem;
    font-weight: bold;
}

.codFont{
    font-size: 1rem;
}

.caja{
    height: 100%;
    //max-width: 13rem;
    min-width: 14%;
    cursor: pointer;
    margin: 0 3% 0 3%;
    background-color: $blancoPrincipal;
    border-style: solid;
    border-color: gray;
    border-width: 0.0625rem;
    box-shadow: 0.1875rem 0.1875rem 0.1875rem gray;
    transition: 200ms;
    .col{
        height: auto;
    }
}

.imgProducto img{
    width: 100%;
    height: auto;
}

.caja:hover{
    //width: 14rem;
    transform: scale(1.05, 1.05);
    box-shadow: 0.2rem 0.2rem 0.2rem $azulPrincipal;
    transition: 200ms;
}

@include tablet{
    .caja{
        min-width: 44%;
        margin: 0 28% 0 28%;
    }
}