@import "../../scss/index.scss";

@mixin borde($prop1){
    transform: scale(1.01, 1.01);
    transition: 200ms;
    box-shadow: 0.01rem 0.01rem 1.5rem 0.3rem $prop1;
}

.btn-catalogo1{
    position: relative;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: black;
    border-radius: 5rem;
    text-decoration: none;
    box-shadow: 10px 10px 20px black;
    height: auto;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
}

.avi{
    background-color: $azulPrincipal;
}

.avi .col .fs-2{
    color: $blancoPrincipal;
    span{
        color: $amarilloPrincipal;
    }
    p{
        margin: 0;
    }
}

.c-categ{
    width: 30%;
    height: auto;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    img{
        width: 100%;
        height: auto;
        cursor: pointer;
        transition: 200ms;
    }
}

.c-categ #catYellow:hover{
    @include borde($amarilloPrincipal);
}

.c-categ #catRed:hover{
    @include borde(red);
}

.c-categ #catNaranja:hover{
    @include borde(#f2894f);
}

.c-categ #catAzul:hover{
    @include borde(#0097e0);
}

.c-categ #catVerde:hover{
    @include borde(#02a55a);
}

.c-categ #catCafe:hover{
    @include borde(#83706b);
}

#categorias{
    justify-content: space-between;
}

@include tablet{
    //cuadrar letra del aviso "eres ferretero..."
}

@include mobile{
    #carrusel2{
        display: none;
    }

    .btn-catalogo1{
        background-image: url("../../Assets/png/icono2.png");
        background-repeat: no-repeat;
        background-size: contain;
        width:50%;
        img{
            visibility: hidden;
        }
        
    }
}