@import "../../scss/index.scss";

@mixin borde($prop1){
    transform: scale(1.01, 1.01);
    transition: 200ms;
    box-shadow: 0.01rem 0.01rem 1.5rem 0.3rem $prop1;
}

.inicio{
    padding: 1.12vw 1.69vw;
}

.caja-video{
    flex: 1;
    width: 58.3333333%;
}

.btn-catalogo1{
    position: relative;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: black;
    border-radius: 5rem;
    text-decoration: none;
    box-shadow: 10px 10px 20px black;
    height: auto;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
}

.avi{
    background-color: $azulPrincipal;
}

.avi .col{
    color: $blancoPrincipal;
    font-size: 2.025rem;
    span{
        color: $amarilloPrincipal;
    }
    p{
        text-align: center;
        margin: 0;
    }
}

.c-categ{
    width: 30%;
    height: auto;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    img{
        width: 100%;
        height: auto;
        cursor: pointer;
        transition: 200ms;
    }
}

.c-categ img:hover{
    transform: scale(1.01, 1.01);
    transition: 200ms;
    box-shadow: 0.01rem 0.01rem 1.5rem 0.3rem currentColor;
}

.c-categ #catYellow:hover{
    @include borde($cEbanisteria);
}

.c-categ #catRed:hover{
    @include borde($cEstudiantil);
}

.c-categ #catNaranja:hover{
    @include borde($cGas);
}

.c-categ #catAzul:hover{
    @include borde($cGriferia);
}

.c-categ #catVerde:hover{
    @include borde($cElectricos);
}

.c-categ #catCafe:hover{
    @include borde($cTornilleria);
}

#categorias{
    justify-content: space-between;
}

@include tablet{
    //cuadrar letra del aviso "eres ferretero..."
}

@include mobile{
    #carrusel2{
        display: none;
    }

    .avi .col{
        font-size: 1.5625rem;
    }

    .btn-catalogo1{
        background-image: url("../../Assets/png/icono2.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: fixed;
        bottom: calc(2.5rem + 15vw);
        right: 0.875rem;
        z-index: 1;      
        width: 14vw;
        height: 14vw;
        box-shadow: none;
        a{
            font-size: 6vw;
        }
        img{
            visibility: hidden;
            width: 7.7vw;
            height: 7.7vw;
        }
    }

    .row.py-3.gx-4{
        padding: 0 20px;
    }

    .caja-video{
        order: -1;
        flex: auto;
    }

    .col-5.caja-carrusel{
        width: 100%;
    }

    .c-categ{
        width: 100%;
    }
}