.categoria{
    position: relative;
}

.col.pdfViewer {
    display: flex;
    justify-content: center;
    margin: 1.25rem 0rem;
    iframe {
        width: 70%;
        height: 1057px;
    }
}

.react-pdf__Page__textContent.textLayer{
    display: none;
}