.catalogo{
    position: relative;
    min-height: 40rem;
    padding: 0px 84px;//pendiente por cambio
}

.col.pdfViewer {
    display: flex;
    justify-content: center;
    margin: 1.25rem 0rem;
    iframe {
        width: 70%;
        height: 1057px;
    }
}