@import "../../scss/index.scss";

.about{
    position: relative;
    padding: 1.12vw 1.69vw;
    min-height: 30rem;
}

.log-anima{
    width: 30%;
    margin: 0px auto;
    video{
        width: 100%;
        height: auto;
    }
}

.qSomos{
    position: relative;
    h1{
        color: $azulPrincipal;
        position: relative;
        text-align: center;
        margin-bottom: 1.1875rem;
    }
    opacity: 0;
    transform: translateY(100px);
}
