
.col.imgCat{
    display: flex;
    justify-content: center;
    margin: 1.25rem 0rem;   
    img{
        width: 5%;
    }
}

.descripcion{
    display: flex;
    justify-content: center;
    background-color: currentColor;
    background-image: linear-gradient(0deg, rgb(0 0 0 / 17%), #f7f7f7);
    h1{
        color: white;
        margin: 1.25rem 0rem;
        -webkit-text-stroke: 2px black;
    }
}

.col.pdfViewer {
    display: flex;
    justify-content: center;
    margin: 1.25rem 0rem;
    iframe {
        width: 70%;
        height: 1057px;
    }
}