//@import "../../scss/index.scss";
.products{
    min-height: 450px;
}

.productsContainer{
    flex-wrap: wrap;
    display: flex;
    padding: 0.9044rem 7rem;
    overflow-y: auto;
    .caja{
        margin: 0% 3% 3% 3%;
    }
}

.nFound{
    display: flex;
    background-color: #d9d9d9;
    color: #727272;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    padding: 20px 0px;
    justify-content: center;
}

.loadingStls{
    animation: skeleton-loading 1s linear infinite alternate;
}

.dots {
    overflow: hidden;
    animation: dotsAnimation 1.5s linear infinite alternate;
}

@keyframes dotsAnimation {
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}  

@keyframes skeleton-loading {
    0% {
        background-color: rgb(217, 217, 217)
    }

    100%{
        background-color: hsl(0, 0%, 100%);
    }
}

@media (max-width: 900px){
    .productsContainer{
        padding: 0.9044rem 4rem;
        .caja{
            margin: 0% 6% 6% 6%;
            width: 20%;
        }
    }
}

@media (max-width: 600px){
    .productsContainer{
        padding: 0.9044rem 1rem;
        .caja{
            margin: 0% 2% 6% 3%;
            width: 44%;
            padding: 5%;
        }
    }
}